@model RegistrationRequestDto
@{
    ViewBag.Title = "Register";
}
<form method="post">
    <div class="container border border-1 border-secondary rounded">
        <div class="row text-center p-3">
            <h1>Register</h1>
        </div>
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger list-unstyled"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Name" class="form-control" placeholder="Full Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Phone"/>
                <span asp-validation-for="PhoneNumber"></span>
            </div>
             <div class="col-12 col-md-6 offset-md-3 pb-2">
                <select asp-for="Role" asp-items="@ViewBag.RoleList" class="form-select">
                    <option disabled selected>---Select Role---</option>
                </select>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <button type="submit" class="form-control btn btn-50 btn-success" value="submit">Register</button>
            </div>

        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
